<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/job/RNG.png">
    <link rel="shortcut icon" href="img/job/DNC.png">
    <title>更变角色种族</title>

    <!-- Vue -->
    <script src="js/vue.js"></script>
    <!-- axios -->
    <script src="js/axios.min.js"></script>
    <!-- 引入样式 -->
    <!--<script src="js/element-ui.js"></script>-->
    <!-- 引入组件库 -->
    <script src="js/element-ui-zujian.js"></script>


    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<!-- <h1 style="text-align: center;color: brown">
     <marquee behavior="" direction="">通知:更变角色需要扣除玩家游戏币50w一次,请各位悉知~</marquee>
 </h1>-->
<div id="app">
    <h1 style="text-align: center">更换角色外形(Bata 可用)</h1>
    <div style="width:50%;margin: 0 auto;">

        <el-form label-width="100px" class="demo-ruleForm">
            <el-form-item label="角色名" prop="name">
                <el-input type="name" v-model="form.name" autocomplete="off" placeholder="请输入您的角色名字"></el-input>
            </el-form-item>
            <el-form-item label="选择种族">
                <el-select v-model="form.race" placeholder="请选择种族">
                    <el-option label="男人类" value="1"></el-option>
                    <el-option label="女人类" value="2"></el-option>
                    <el-option label="男精灵" value="3"></el-option>
                    <el-option label="女精灵" value="4"></el-option>
                    <el-option label="男矮人" value="5"></el-option>
                    <el-option label="女矮人" value="6"></el-option>
                    <el-option label="猫女" value="7"></el-option>
                    <el-option label="卡鲁" value="8"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="脸型" prop="Face" placeholder="建议1-10之间尝试,其他参数导致自己账号上不去,自己负责">
                <el-input v-model.number="form.face"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="form.pass" autocomplete="off"
                          placeholder="请输入您的角色密码 暂时不需要"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="form.checkPass" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="submitForm()">确认更换种族</el-button>
                <el-button @click="resetForm()">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>


</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            form: {
                race: undefined,
                name: '',
                pass: '',
                checkPass: '',
                face: 1,
                checkPass: undefined,
            },
            tableData: [],  //展示的数据
            currentPage: 1,//默认显示第一页
            pageSize: 12,//默认每页显示10条
            totalNum: 0,//总页数
            showtotal: [6, 12, 24, 30, 50]  //每页显示的条数
        },
        methods: {
            submitForm() {
                var self = this;
                axios({
                    url: '/player/ChangeCharRace',
                    method: 'get',
                    params: {
                        charname: self.form.name,
                        password: self.form.pass,
                        Race: self.form.race,
                        Face: self.form.face
                    }
                }).then(function (res){
                    //self.open1(res.data.msg)
                    //self.open1(res.data.data.msg)
                    if(res.data.flag){
                        self.open1(res.data.msg)
                    }else {
                        self.open2(res.data.msg)
                    }
                })
            },
            resetForm() {
                this.form.name = '';
                this.form.pass = '';
                this.form.checkPass = '';
                this.form.checkPass = '';
                this.form.age = '';
                this.form.region = undefined;
            },
            handleSizeChange(val) {
                this.pageSize = val;    //动态改变

            },
            handleCurrentChange(val) {
                this.currentPage = val;    //动态改变

            },
            //编辑按钮
            handleEdit(A, B) {
                this.open2("暂时未开发");
            },
            //删除按钮
            handleDelete(A, B) {
                this.open2("不要瞎按");
            },
            open1(Message) {
                this.$notify({
                    title: '成功',
                    message: Message,
                    type: 'success'
                });
            },

            open2(Message) {
                this.$notify({
                    title: '警告',
                    message: Message,
                    type: 'warning'
                });
            },

            open3(Message) {
                this.$notify.info({
                    title: '消息',
                    message: Message
                });
            },

            open4() {
                this.$notify.error({
                    title: '错误',
                    message: '这是一条错误的提示消息'
                });
            },
            /*Search() {
                console.log(this);
                var self = this;
                axios({
                    url: '/player/getOnline',
                    method: 'get',
                    params: {charname: self.form.name, Race: self.form.region},
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(function (res) {
                    self.tableData = res.data.data;
                    self.totalNum = res.data.total;
                    self.open1(res.data.msg)
                }).catch(function (error) {
                    console.log(error);
                })
            }*/
        },
        mounted: function () {

        }
    })
</script>
<script>
    export default {
        data() {
            var checkAge = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('年龄不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    } else {
                        if (value < 18) {
                            callback(new Error('必须年满18岁'));
                        } else {
                            callback();
                        }
                    }
                }, 1000);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                ruleForm: {
                    pass: '',
                    checkPass: '',
                    age: ''
                },
                rules: {
                    pass: [
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    checkPass: [
                        {validator: validatePass2, trigger: 'blur'}
                    ],
                    age: [
                        {validator: checkAge, trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    }
</script>
